*.code-workspace
.bundle
.DS_Store
.DS_Store?
.env.local
.env.development.local
.env.production.local
.env.test.local
.eslintrc
.jekyll-cache
.jekyll-metadata
.pnp
.pnp.js
.sass-cache
.Spotlight-V100
.Trashes
build
ehthumbs.db
Gemfile.lock
node_modules
npm-debug.log*
Rakefile
Thumbs.db
vendor
yarn-debug.log*
yarn-error.log*
_site