<section class="bearhawk-header" id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="animate__animated animate__fadeIn">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="portfolio">
    <div class="container">
        <div class="work">
            <div class="row">
                {% include gallery.html folder="/assets/img/projects/bearhawk" %}
            </div>
        </div>
    </div>
    <div class="col-md-8 offset-md-2">
        <p>We are pleased to be providing Garry Rasmussen assistance and guidance while he assembles his Bearhawk kit. We have been told that moulding a pilot into an engineer is not easy but we will try anything once.</p>
        <p>The wings are now complete and stored and the fuselage is coming along well, the engine (IO 540) is now in place and the cowls are being worked on at the moment.</p>
        <p>The Bearhawk is a high wing tail dragger with excellent STOL capability which should be ideally suited to New Zealand conditions.</p>
    </div>
</section>