<p>Ex-Soviet Airforce, recovered circa 1995, restored to fly as USAAC 220341.</p>
<p>Now resident at Virginia Beach and flying with Jerry Yagen's <a href="https://militaryaviationmuseum.org/" target="_blank">Military Aviation Museum</a>.</p>
<p class="offset-md-2">
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/aaB1pE7-miA" title="AIRACOBRA! Restoring the Military Aviation Museum’s P-39 | Military Aviation Museum" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>