<section class="p-40n-1-kittyhawk-2-header" id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="animate__animated animate__fadeIn">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="portfolio">
    <div class="container">
        {% include gallery.html folder="/assets/img/projects/curtiss-p-40n-1-kittyhawk-2" %}
        <div class="col-md-8 offset-md-2">
            <p>This aircraft was built at Buffalo New York in mid-1943 Serial number 42-104827 it was one of the batch of 400 P-40N-1’s. It was allocated to the RAAF under the lease-lend programme and received the Australian Air Ministry serial A29-414.</p>
            <p>It was flown extensively by Jim Harvey, on the 25th of April 1944 while being piloted by Jim the aircraft ran into a recently filled bomb crater and overturned on landing at Tadji in New Guinea. Jim survived the incident with only mild concussion but the aircraft was not so lucky it was bulldozed off the strip and abandoned.</p>
            <p>After being a Pioneer “hangar project” for a number of years the aircraft was purchased by Vintage Wings of Canada. The restoration was completed in late April 2009 and on the 25th of April 2009, 65 years to the day from it’s last flight it took to the air again in the hands of Frank Parker. Present on that day to witness this event were Jim Harvey’s widow Gladys son Robert and Grandsons Nathan and Travis.</p>
            <p>After test flying the aircraft was flown to Canada in a Canadian Air Force C117, after re-assembly the aircraft was flown to the 2009 Oshkosh Air-venture show where it took out a Silver Wrench award for Best Fighter.</p>
        </div>
    </div>
</section>