<section class="p-40n-1-kittyhawk-header" id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="animate__animated animate__fadeIn">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="portfolio">
    <div class="container">
        <div class="work">
            <div class="row">
                {% include gallery.html folder="/assets/img/projects/curtiss-p-40n-1-kittyhawk" %}
            </div>
        </div>
        <div class="col-md-8 offset-md-2">
            <p>This aircraft was delivered to the US Army Air Corps on 5<sup>th</sup> May 1943 and shipped to Australia under the Lend-Lease programme.</p>
            <p>Its first assignment was with the Royal Australian Air Force 75 Squadron based at Turnbull Field in eastern Papua New Guinea where it participated in melees around Milne Bay before moving to Goodenough Island in September 1943. It was later moved to Newton Strip in the Markham Valley, Papua New Guinea.</p>
            <p>On 13<sup>th</sup> March 1944 the aircraft ran into a ditch while taxiing, but was repaired and returned to operations.</p>
            <p>In May 1944 it was transferred to 78 Squadron (but retained its 75 Squadron markings) at Tadji, New Guinea where it was damaged during a landing accident and released for salvage on 30<sup>th</sup> October 1944.</p>
            <p>It was recovered from Tadji, New Guinea by Charles Darby in 1974 who transported it back to New Zealand.</p>
            <p>In 1997 Garth Hogan entered into a partnership with Charles to restore the aircraft. This was completed by March 2000, and the P-40N made her debut at Warbirds Over Wanaka in April 2000.</p>
            <p>In March 2008 this aircraft was fitted with 6 original .50 calibre machine guns and at the Wanaka airshow that month and at the subsequent two Wanaka Air shows it has displayed using blank amunition.</p>
            <p>The aircraft is operated from Ardmore Airfield in Auckland by its owners Frank Parker and Liz Nedham.</p>
        </div>
    </div>
</section>