<section class="p-40n-1-kittyhawk-1-header" id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="animate__animated animate__fadeIn">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="portfolio">
    <div class="container">
        <div class="work">
            <div class="row">
                {% include gallery.html folder="/assets/img/projects/curtiss-p-40n-1-kittyhawk-1" %}
            </div>
        </div>
        <div class="col-md-8 offset-md-2">
            <p>The identifiable remains of RNZAF P-40N-1, NZ3125 was purchased by Allan Arthur from Charles Darby who saved it from being made into scrap metal at Rukahia and stored it for future restoration. Allan sourced other components for his aircraft from all around the world.</p>
            <p>The wing and fuselage was structurally rebuilt by Allan at Mathoura New South Wales, Australia between 2001 and 2004. The aircraft was then shipped to Pioneer Aero’s facility for completion to airworthy condition. The aircraft is powered by a late model Allison V-1710 which was overhauled in the USA before being installed by the Pioneer Aero team.</p>
            <p>The aircraft was completed in April 2006 and test flying carried out by John Lamont and Frank Parker before making it’s debut at the “Warbirds over Wanaka” 2006 Airshow.</p>
            <p>The Aircraft is finished in the paint scheme of No 112 “Shark” Squadron RAF as flown by FLT-LT M. N. Mathias out of Pachino/Agnone Scicily, July 1943.</p>
            <p>The aircraft is now based at Albury New South Wales Australia.</p>
        </div>
    </div>
</section>