<section class="p-40k-kittyhawk-header" id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="animate__animated animate__fadeIn">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="portfolio">
    <div class="container">
        <div class="work">
            <div class="row">
                {% include gallery.html folder="/assets/img/projects/curtiss-p-40k-kittyhawk" %}
            </div>
        </div>
        <div class="col-md-8 offset-md-2">
            <h3>Reserve Grand Champion – Oshkosh 2001</h3>
            <p>This particular aircraft had been abandoned by the US Army Air Force on Amchitka Island in the Aleutians, probably because of battle damage.</p>
            <p>In 1969, the plane was recovered by aircraft collector and broker, Bob Sturges of Troutdale, Oregon, and returned to the United States. Bob offered the plane for sale and in 1972 it went to Joseph Morasky in Connecticut who registered the craft as N4363. By 1978 it was with Warbird collector, George Enhorning and in 1986 with Mustang rebuilder, Bob Byrne who also owned P-40K N293FR.</p>
            <p>In 1988 the P-40K was purchased by the Alpine Fighter Collection and shipped to New Zealand where it was restored to flying condition over a 4-year period, making its first post-restoration flight on 18 April 1992 as ZK-PXL and finished in Royal New Zealand Air Force markings. In late 1997 the fighter was extensively damaged in a forced landing and was put up for sale by the Alpine Fighter Collection.</p>
            <p>Purchased by Dick Thurman, the P-40K was rebuilt in a joint venture by Pioneer Aero Restorations Ltd and Avspecs Ltd in New Zealand. It made its post-restoration debut in Warbirds Over Wanaka in April 2000.</p>
            <p>This aircraft is now owned by Butch Schroeder of Danville Illinois.</p>
        </div>
    </div>
</section>