<section class="p-40e-kittyhawk-1997-header" id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="animate__animated animate__fadeIn">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="portfolio">
    <div class="container">
        <div class="work">
            <div class="row">
                {% include gallery.html folder="/assets/img/projects/curtiss-p-40e-kittyhawk-1997" %}
            </div>
        </div>
        <div class="col-md-8 offset-md-2">
            <h3>Completed 1997 for Ray Hanna Former RNZAF 14 SQN</h3>
            <p>This aircraft was initially built in Buffalo, USA during 1941 for the Royal Air Force. With Japan’s attack on Pearl Harbour however the P-40 was reclaimed by the US Army Air Corps and flew with the 68th Fighter Group in the Southwest Pacific.</p>
            <p>It was then handed over to number 14 Squadron Royal New Zealand Air Force with whom it served throughout World War II. During this time it was flown by several famous Aces including Geoff Fisken the top scoring Commonwealth Ace (against the Japanese) during WWII.</p>
            <p>After the war it became part of the famous Rukuhia scrap yard, an area of more than 500 WWII RNZAF aircraft. These were slowly broken up until the 1960s. This P-40 was saved by a group of teenagers, led by Charles Darby, who scraped the money together to buy it. It was selected and therefore survived solely by dint of the fact that it was closer to the gate than the others!</p>
            <p>Thereafter it was on loan to a museum in Auckland prior to being purchased by Ray Hanna in 1992. After a 6- year rebuild the P-40 flew again for the first time since 1945 in December 1997. It left New Zealand early in 1999 and was based at The Old Flying Machine Company at Duxford Airport in the UK – and has been one of only two Kittyhawks flying in the whole of Western Europe. It returned to New Zealand in 2004 and is now owned and operated by The Old Stick and Rudder Company at Masterton New Zealand.</p>
        </div>
    </div>
</section>