<section class="p-40e-kittyhawk-2013-header" id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="animate__animated animate__fadeIn">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="portfolio">
    <div class="container">
        {% include gallery.html folder="/assets/img/projects/curtiss-p-40e-kittyhawk-2013" %}
        <div class="col-md-8 offset-md-2">
            <p>Watch this project as it unfolds over the next few years.</p>
            <p>The fin and tailplane and undercarriage fairings and fuselage have been completed and delivered.</p>
            <p>A start has now been made on the wings.</p>
        </div>
    </div>
</section>