<section class="p-40n-1-nz3147-header" id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="animate__animated animate__fadeIn">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="portfolio">
    <div class="container">
        <div class="work">
            <div class="row">
                {% include gallery.html folder="/assets/img/projects/curtiss-p-40n-1-nz3147" %}
            </div>
        </div>
        <div class="col-md-8 offset-md-2">
            <p>This exciting project has been slowly building momentum over the last year with work now in full swing on the fuselage.</p>
        </div>
    </div>
</section>