<section class="p-40n-5-kittyhawk-header" id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="animate__animated animate__fadeIn">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="portfolio">
    <div class="container">
        {% include gallery.html folder="/assets/img/projects/curtiss-p-40n-5-kittyhawk" %}
        <div class="col-md-8 offset-md-2">
            <p>This aircraft s#42-105526 was built in the Curtiss Plant in Buffalo New York and received by the USAF on the 6th of July 1943. After an overland journey to Oakland California it was assigned to the Fifth Air Force and shipped to the Pacific theater of operations on the 23rd of July 1943.</p>
            <p>The aircraft was assigned to the 7th FS/49th FG and piloted by Capt. Carl Aubrey the Ops Exec. It was involved in a fierce dogfight over Oro Bay New Britain on October the 15th 1943. Over 100 US aircraft were involved and Capt Aubrey shot down 2 Val dive-bombers but no credits were awarded.</p>
            <p>The aircraft was condemned as salvage on the 15th of December 1944 and disposed of on site. Recovery and initial restoration work was carried out by Mike Nicholls of Blenheim before being purchased by Craig Schulz of Santa Rosa California.</p>
            <p>After Purchase it was shipped to Pioneers hangar at Ardmore and restored to flying condition. This aircraft is fitted with a rear seat but owing to the restrictive canopy opening of the N-5 a redesign of the conventional Pioneer system was necessary and this aircraft is fitted with a unique sliding rear canopy for access.</p>
            <p>The aircraft has been shipped to Santa Rosa and is currently awaiting US certification before beginning its test flight programme.</p>
        </div>
    </div>
</section>