<section class="lavochkin-la-9-header" id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="animate__animated animate__fadeIn">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="portfolio">
    <div class="container">
        {% include gallery.html folder="/assets/img/projects/lavochkin-la-9" %}
        <div class="col-md-8 offset-md-2">
            <p>Unfortunately there is very little known about this particular aircraft. It apparently served in the People's Republic of China Airforce during the Korea conflict, and in the late 1950s it was retired to a Chinese museum until the Old Flying Machine Company obtained the aircraft after protracted negotiations in 1996. The aircraft was shipped to the UK, after arriving at Duxford it sat for some time before being disassembled and in late 2000 it was shipped to New Zealand where work was begun again.</p>
            <p>The La-9 was the first of the Lavochkin La-series to be an all-metal fighter.</p>
            <p>The La-9 is armed with four 23mm cannons.</p>
            <p>The engine power for the La-9 is 1850hp.</p>
            <p>The restoration was finished by Pioneer and the aircraft first flew from Ardmore piloted by John Lamont in February 2003. It was then shipped to England and based at Duxford for a year before returning to New Zealand and displaying at the 2004 Warbirds over Wanaka Airshow.</p>
            <p>In 2010 the aircraft was purchased by well known warbird owner Jerry Yagen of Virginia U.S.A.</p>
        </div>
    </div>
</section>