<section class="mustang-p-51d-header" id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="animate__animated animate__fadeIn">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="portfolio">
    <div class="container">
        {% include gallery.html folder="/assets/img/projects/mustang-p-51d" %}
        <div class="col-md-8 offset-md-2">
            <p>This aircraft was imported from the USA for Mustang Flights of Wanaka.</p>
            <p>The aircraft was recieved by Pioneer who carried out the assembly and other work necessary to have it certified to fly in New Zealand. The aircraft’s livery is based on Col Glenn E Duncan’s Mustang of the 353 FG “Dove of Peace".</p>
            <p>Attached are a series of photos showing the assembly and first flight in late 2004.</p>
        </div>
    </div>
</section>