<section class="t28-trojan-header" id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="animate__animated animate__fadeIn">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="portfolio">
    <div class="container">
        <div class="work">
            <div class="row">
                {% include gallery.html folder="/assets/img/projects/north-american-t28-trojan" %}
            </div>
        </div>
        <div class="col-md-8 offset-md-2">
            <p>It has been a long held dream of this aircrafts new owner to have a T28. Fortunatly for him the previous owner had a dream to have the best and most unique T28 in the world.</p>
            <p>The aircraft is now coming together after its paint job with most of the controls and panels now fitted and two engine runs having been carried out. We are just waiting for some hardware to fit he remaining components and then 100hr annual and test flighing.</p>
        </div>
    </div>
</section>