<section class="strikemaster-70-header" id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="animate__animated animate__fadeIn">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="portfolio">
    <div class="container">
        <div class="work">
            <div class="row">
                {% include gallery.html folder="/assets/img/projects/strikemaster-70" %}
            </div>
        </div>
        <div class="col-md-8 offset-md-2">
            <p>This ex RNZAF aircraft returned to in late 2010 the first of these aircraft to return to New Zealand skies since their retirement in the eary 90s. Owned by local businessman Brett Nicholls this aircraft is fondly remembered by ex serviceman and the public. After assembly by Pioneer Aero and certification it made its debut at the 2011 Omaka Airshow.</p>
            <p>Pt115 certification followed which allowed it to carry fare paying passengers and after flying here for just on six years, 70 was sold to Blue Air Training in the U.S.A. along with its
                <a href="/projects/strikemaster-62">stablemate 62</a>.</p>
        </div>
    </div>
</section>