<section class="strikemaster-72-header" id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="animate__animated animate__fadeIn">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="portfolio">
    <div class="container">
        <div class="work">
            <div class="row">
                {% include gallery.html folder="/assets/img/projects/strikemaster-72" %}
            </div>
        </div>
        <div class="col-md-8 offset-md-2">
            <p>Strikemaster 72 became the second of the ex-RNZAF aircraft to return to New Zealand skies when it was successfully test flown by Dave Brown in April of 2014.</p>
            <p>Maintained since then by Pioneer Aero 72 this aircraft is now based out of Ardmore. It has been repainted back to the scheme it wore when it was operated by 14 Sqn RNZAF in the early 1990s.</p>
        </div>
    </div>
</section>