<section class="strikemaster-62-header" id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="animate__animated animate__fadeIn">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="portfolio">
    <div class="container">
        <div class="work">
            <div class="row">
                {% include gallery.html folder="/assets/img/projects/strikemaster-62" %}
            </div>
        </div>
        <div class="col-md-8 offset-md-2">
            <p>After being returned to flight and being successfully flown here for more than 2 years, Strikemaster 62 has been sold to Blue Air Training in the U.S.A.</p>
        </div>
    </div>
</section>