<section class="titan-t51-header" id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="animate__animated animate__fadeIn">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="portfolio">
    <div class="container">
        <div class="work">
            <div class="row">
                {% include gallery.html folder="/assets/img/projects/titan-t51" %}
            </div>
        </div>
        <div class="col-md-8 offset-md-2">
            <p>The build of this Titan T51 kit is a collaboration between Pioneer Aero and an Australian based businessman. We are using our years of experience building full size Warbirds to complete this aircraft to an exceptionally high standard.</p>
            <p>It will be fitted with a 3.5 lt Honda V6 engine which will endow it with impressive performance for such a small aircraft.</p>
            <p>When completed it will grace the New Zealand skies for a few months before heading to Australia.</p>
        </div>
    </div>
</section>