<section class="kingfisher-5982-header" id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="animate__animated animate__fadeIn">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="portfolio">
    <div class="container">
        <div class="work">
            <div class="row">
                {% include gallery.html folder="/assets/img/projects/vought-os2u-kingfisher-5982" %}
            </div>
        </div>
        <div class="col-md-8 offset-md-2">
            <p>Bu.5982</p>
            <p>Originally intended for use by the Netherlands East Indies.
                  Arrived in Australia April 1942 and received at Rathmines.
                  Put into Service September 1942.</p>
            <p>Served with the Seaplane Training Flight, later 3 OTU and 107 Sqn Coded JE-H.
                  On the 7th of December 1943 the controls became jammed and the aircraft flipped on takeoff near Wangi Point, Lake Macquarie.</p>
            <p>Crew: FO K Drury and FltSgt A Larsen both unharmed.</p>
            <p>The aircraft was towed to shore and righted, as the aircraft was submerged it was not flown again and reduced to spares.</p>
        </div>
    </div>
</section>