<!-- Slider Start -->
<section class="news-header" id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="animate__animated animate__fadeIn">News</h1>
                    <p class="animate__animated animate__fadeIn">Check out our latest progress.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Slider Close --->
<!-- News Feed -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-3">
                <label for="post_index"></label>
                <select id="post_index" name="post_index">
                    {% assign postsInYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}
                    {% for year in postsInYear %}
                        <option value="#{{ year.name }}">
                            <strong>{{ year.name }}</strong>
                            <span class="taxonomy__count">({{ year.items | size }})</span>
                        </option>
                    {% endfor %}
                </select>
            </div>
            {% assign entries_layout = page.entries_layout | default: 'list' %}
            {% assign postsByYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}
            {% for year in postsByYear %}
                <div id="{{ year.name }}" class="col-8 col-md-9 offset-1 offset-md-0">
                    <div class="block">
                        <h2 class="archive__subtitle">{{ year.name }}</h2>
                        <div class="entries-{{ entries_layout }}">
                            {% for post in year.items %}
                                {% include archive-single.html type=entries_layout %}
                            {% endfor %}
                        </div>
                        <p class="back-to-top">
                            <a href="#">
                                {{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }}
                            </a>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>