<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1 class="animate__animated animate__fadeIn">Our Projects</h1>
          <p class="animate__animated animate__fadeIn">These are the projects that we have worked on or are currently working on.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Portfolio Start -->
<section id="portfolio">
  <div class="container">
    <div class="col-md-12 text-center">
      <div class="tabs">
        <button class="btn filter" id="filt" href="" data-rel="all">All</button>
        <button class="btn filter" id="filt" href="" data-rel="featured">Featured</button>
        <button class="btn filter" id="filt" href="" data-rel="current">Current</button>
        <button class="btn filter" id="filt" href="" data-rel="past">Past</button>
      </div>
      <div class="work">
        <div class="row">
          <!-- P40N-1, NZ3147 -->
          <div class="col-md-4 portfolio-item scale all current">
            <a href="{{ '/projects/curtiss-p-40n-1-nz3147' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/projects/curtiss-p-40n-1-nz3147/p-40n-1-nz3147-1.jpg' | relative_url }}" alt="P40N-1, NZ3147">
            </a>
            <a href="{{ '/projects/curtiss-p-40n-1-nz3147' | relative_url }}">
              <h2>P40N-1, NZ3147</h2>
            </a>
          </div>
          <!-- Painting Showcase -->
          <div class="col-md-4 portfolio-item scale all current">
            <a href="{{ '/projects/painting-showcase' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/projects/painting-showcase/painting-showcase-5.jpg' | relative_url }}" alt="Painting Showcase">
            </a>
            <a href="{{ '/projects/painting-showcase' | relative_url }}">
              <h2>Painting Showcase</h2>
            </a>
          </div>
          <!-- P40E S#41-13570 -->
          <div class="col-md-4 portfolio-item scale all current">
            <a href="{{ '/projects/curtiss-p-40e-s41-13570' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/projects/curtiss-p-40e-s41-13570/p-40e-s41-13570-38.jpg' | relative_url }}" alt="P40E S#41-13570">
            </a>
            <a href="{{ '/projects/curtiss-p-40e-s41-13570' | relative_url }}">
              <h2>P40E S#41-13570</h2>
            </a>
          </div>
          <!-- P-39Q Airacobra -->
          <div class="col-md-4 portfolio-item scale all past">
            <a href="{{ '/projects/curtiss-p-39f-1be-airacobra' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/projects/curtiss-p-39f-1be-airacobra/airacobra-14.jpg' | relative_url }}" alt="P-39Q Airacobra">
            </a>
            <a href="{{ '/projects/curtiss-p-39f-1be-airacobra' | relative_url }}">
              <h2>P-39Q Airacobra</h2>
            </a>
          </div>
          <!-- Sea Hornet TT193 -->
          <div class="col-md-4 portfolio-item scale all current featured">
            <a href="{{ '/projects/sea-hornet-tt193' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/projects/sea-hornet-tt193/tt-193-in-snow.jpg' | relative_url }}" alt="Sea Hornet TT193">
            </a>
            <a href="{{ '/projects/sea-hornet-tt193' | relative_url }}">
              <h2>Sea Hornet TT193</h2>
            </a>
          </div>
          <!-- Vought OS2U Kingfisher Bu.5982 -->
          <div class="col-md-4 portfolio-item scale all current">
            <a href="{{ '/projects/vought-os2u-kingfisher-5982' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/projects/vought-os2u-kingfisher-5982/kingfisher-5982-1.jpg' | relative_url }}" alt="Vought OS2U Kingfisher Bu.5982">
            </a>
            <a href="{{ '/projects/vought-os2u-kingfisher-5982' | relative_url }}">
              <h2>Vought OS2U Kingfisher Bu.5982</h2>
            </a>
          </div>
          <!-- Vought OS2U Kingfisher Bu.5985 -->
          <div class="col-md-4 portfolio-item scale all current">
            <a href="{{ '/projects/vought-os2u-kingfisher-5985' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/projects/vought-os2u-kingfisher-5985/kingfisher-5985-1.jpg' | relative_url }}" alt="Vought OS2U Kingfisher Bu.5985">
            </a>
            <a href="{{ '/projects/vought-os2u-kingfisher-5985' | relative_url }}">
              <h2>Vought OS2U Kingfisher Bu.5985</h2>
            </a>
          </div>
          <!-- North American T28 Trojan -->
          <div class="col-md-4 portfolio-item scale all current">
            <a href="{{ '/projects/north-american-t28-trojan' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/projects/north-american-t28-trojan/t28-trojan-17.jpg' | relative_url }}" alt="North American T28 Trojan">
            </a>
            <a href="{{ '/projects/north-american-t28-trojan' | relative_url }}">
              <h2>North American T28 Trojan</h2>
            </a>
          </div>
          <!-- Strikemaster 62 -->
          <div class="col-md-4 portfolio-item scale all current">
            <a href="{{ '/projects/strikemaster-62' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/projects/strikemaster-62/strikemaster-62-14.jpg' | relative_url }}" alt="Strikemaster 62">
            </a>
            <a href="{{ '/projects/strikemaster-62' | relative_url }}">
              <h2>Strikemaster 62</h2>
            </a>
          </div>
          <!-- Strikemaster 72 -->
          <div class="col-md-4 portfolio-item scale all current">
            <a href="{{ '/projects/strikemaster-72' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/projects/strikemaster-72/strikemaster-72-17.jpg' | relative_url }}" alt="Strikemaster 72">
            </a>
            <a href="{{ '/projects/strikemaster-72' | relative_url }}">
              <h2>Strikemaster 72</h2>
            </a>
          </div>
          <!-- Curtiss P-40E Kittyhawk -->
          <div class="col-md-4 portfolio-item scale all current">
            <a href="{{ '/projects/curtiss-p-40e-kittyhawk-2013' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/projects/curtiss-p-40e-kittyhawk-2013/p-40e-kittyhawk-2013-25.jpg' | relative_url }}" alt="Curtiss P-40E Kittyhawk">
            </a>
            <a href="{{ '/projects/curtiss-p-40e-kittyhawk-2013' | relative_url }}">
              <h2>Curtiss P-40E Kittyhawk</h2>
            </a>
          </div>
          <!-- Titan T51 -->
          <div class="col-md-4 portfolio-item scale all current">
            <a href="{{ '/projects/titan-t51' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/projects/titan-t51/titan-t51-33.jpg' | relative_url }}" alt="Titan T51 Project">
            </a>
            <a href="{{ '/projects/titan-t51' | relative_url }}">
              <h2>Titan T51t</h2>
            </a>
          </div>
          <!-- Bearhawk -->
          <div class="col-md-4 portfolio-item scale all current">
            <a href="{{ '/projects/bearhawk' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/projects/bearhawk/bearhawk-10.jpg' | relative_url }}" alt="Bearhawk">
            </a>
            <a href="{{ '/projects/bearhawk' | relative_url }}">
              <h2>Bearhawk</h2>
            </a>
          </div>
          <!-- Hawker Tempest MkII -->
          <div class="col-md-4 portfolio-item scale all past">
            <a href="{{ '/projects/hawker-tempest-mkii' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/projects/hawker-tempest-mkii/hawker-tempest-mkii-4.jpg' | relative_url }}" alt="Hawker Tempest MkII">
            </a>
            <a href="{{ '/projects/hawker-tempest-mkii' | relative_url }}">
              <h2>Hawker Tempest MkII</h2>
            </a>
          </div>
          <!-- Strikemaster 70 -->
          <div class="col-md-4 portfolio-item scale all past">
            <a href="{{ '/projects/strikemaster-70' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/projects/strikemaster-70/strikemaster-70-2.jpg' | relative_url }}" alt="Strikemaster 70">
            </a>
            <a href="{{ '/projects/strikemaster-70' | relative_url }}">
              <h2>Strikemaster 70</h2>
            </a>
          </div>
          <!-- Fuel and Oil Tanks -->
          <div class="col-md-4 portfolio-item scale all past">
            <a href="{{ '/projects/fuel-and-oil-tanks' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/projects/fuel-and-oil-tanks/fuel-and-oil-tanks-14.jpg' | relative_url }}" alt="Fuel and Oil Tanks">
            </a>
            <a href="{{ '/projects/fuel-and-oil-tanks' | relative_url }}">
              <h2>Fuel and Oil Tanks</h2>
            </a>
          </div>
          <!-- P-40N-1 Kittyhawk -->
          <div class="col-md-4 portfolio-item scale all past">
            <a href="{{ '/projects/curtiss-p-40n-1-kittyhawk-2' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/projects/curtiss-p-40n-1-kittyhawk-2/p-40n-1-kittyhawk-2-2.jpg' | relative_url }}" alt="P-40N-1 Kittyhawk">
            </a>
            <a href="{{ '/projects/curtiss-p-40n-1-kittyhawk-2' | relative_url }}">
              <h2>P-40N-1 Kittyhawk</h2>
            </a>
          </div>
          <!-- Curtiss P-40N-5 Kittyhawk -->
          <div class="col-md-4 portfolio-item scale all past">
            <a href="{{ '/projects/curtiss-p-40n-5-kittyhawk' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/projects/curtiss-p-40n-5-kittyhawk/p-40n-5-kittyhawk-1.jpg' | relative_url }}" alt="Curtiss P-40N-5 Kittyhawk">
            </a>
            <a href="{{ '/projects/curtiss-p-40n-5-kittyhawk' | relative_url }}">
              <h2>Curtiss P-40N-5 Kittyhawk</h2>
            </a>
          </div>
          <!-- Curtiss P-40N-1 Kittyhawk -->
          <div class="col-md-4 portfolio-item scale all past">
            <a href="{{ '/projects/curtiss-p-40n-1-kittyhawk-1' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/projects/curtiss-p-40n-1-kittyhawk-1/p-40n-1-kittyhawk-1-3.jpg' | relative_url }}" alt="Curtiss P-40N-1 Kittyhawk">
            </a>
            <a href="{{ '/projects/curtiss-p-40n-1-kittyhawk-1' | relative_url }}">
              <h2>Curtiss P-40N-1 Kittyhawk</h2>
            </a>
          </div>
          <!-- Yakovlev Yak-3 -->
          <div class="col-md-4 portfolio-item scale all past">
            <a href="{{ '/projects/yakovlev-yak-3' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/projects/yakovlev-yak-3/yak-3-5.jpg' | relative_url }}" alt="Yakovlev Yak-3">
            </a>
            <a href="{{ '/projects/yakovlev-yak-3' | relative_url }}">
              <h2>Yakovlev Yak-3</h2>
            </a>
          </div>
          <!-- Mustang P-51D -->
          <div class="col-md-4 portfolio-item scale all past">
            <a href="{{ '/projects/mustang-p-51d' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/projects/mustang-p-51d/mustang-p-51d-1.jpg' | relative_url }}" alt="Mustang P-51D">
            </a>
            <a href="{{ '/projects/mustang-p-51d' | relative_url }}">
              <h2>Mustang P-51D</h2>
            </a>
          </div>
          <!-- Curtiss P-40F Kittyhawk -->
          <div class="col-md-4 portfolio-item scale all past">
            <a href="{{ '/projects/curtiss-p-40f-kittyhawk' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/projects/curtiss-p-40f-kittyhawk/p-40f-kittyhawk-3.jpg' | relative_url }}" alt="Curtiss P-40F Kittyhawk">
            </a>
            <a href="{{ '/projects/curtiss-p-40f-kittyhawk' | relative_url }}">
              <h2>Curtiss P-40F Kittyhawk</h2>
            </a>
          </div>
          <!-- Curtiss P-40E Kittyhawk -->
          <div class="col-md-4 portfolio-item scale all past">
            <a href="{{ '/projects/curtiss-p-40e-kittyhawk-2004' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/projects/curtiss-p-40e-kittyhawk-2004/p-40e-kittyhawk-2004-1.jpg' | relative_url }}" alt="Curtiss P-40E Kittyhawk">
            </a>
            <a href="{{ '/projects/curtiss-p-40e-kittyhawk-2004' | relative_url }}">
              <h2>Curtiss P-40E Kittyhawk</h2>
            </a>
          </div>
          <!-- Lavochkin La-9 -->
          <div class="col-md-4 portfolio-item scale all past">
            <a href="{{ '/projects/lavochkin-la-9' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/projects/lavochkin-la-9/lavochkin-la-9-15.jpg' | relative_url }}" alt="Lavochkin La-9">
            </a>
            <a href="{{ '/projects/lavochkin-la-9' | relative_url }}">
              <h2>Lavochkin La-9</h2>
            </a>
          </div>
          <!-- Curtiss P-40E Kittyhawk AK940 -->
          <div class="col-md-4 portfolio-item scale all past">
            <a href="{{ '/projects/curtiss-p-40e-kittyhawk-ak940' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/projects/curtiss-p-40e-kittyhawk-ak940/p-40e-kittyhawk-ak940-1.jpg' | relative_url }}" alt="Curtiss P-40E Kittyhawk – AK940">
            </a>
            <a href="{{ '/projects/curtiss-p-40e-kittyhawk-ak940' | relative_url }}">
              <h2>Curtiss P-40E Kittyhawk AK940</h2>
            </a>
          </div>
          <!-- Curtiss P-40K Kittyhawk -->
          <div class="col-md-4 portfolio-item scale all past">
            <a href="{{ '/projects/curtiss-p-40k-kittyhawk' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/projects/curtiss-p-40k-kittyhawk/p-40k-kittyhawk-4.jpg' | relative_url }}" alt="Curtiss P-40K Kittyhawk">
            </a>
            <a href="{{ '/projects/curtiss-p-40k-kittyhawk' | relative_url }}">
              <h2>Curtiss P-40K Kittyhawk</h2>
            </a>
          </div>
          <!-- Curtiss P-40N-1 Kittyhawk -->
          <div class="col-md-4 portfolio-item scale all past">
            <a href="{{ '/projects/curtiss-p-40n-1-kittyhawk' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/projects/curtiss-p-40n-1-kittyhawk/p-40n-1-kittyhawk-6.jpg' | relative_url }}" alt="Curtiss P-40N-1 Kittyhawk">
            </a>
            <a href="{{ '/projects/curtiss-p-40n-1-kittyhawk' | relative_url }}">
              <h2>Curtiss P-40N-1 Kittyhawk</h2>
            </a>
          </div>
          <!-- Curtiss P-40E Kittyhawk -->
          <div class="col-md-4 portfolio-item scale all past">
            <a href="{{ '/projects/curtiss-p-40e-kittyhawk-1997' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/projects/curtiss-p-40e-kittyhawk-1997/p-40e-kittyhawk-1997-4.jpg' | relative_url }}" alt="Curtiss P-40E Kittyhawk">
            </a>
            <a href="{{ '/projects/curtiss-p-40e-kittyhawk-1997' | relative_url }}">
              <h2>Curtiss P-40E Kittyhawk</h2>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We design delightful digital experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="/staff">Experience Our Stories</a>
        </div>
      </div>
    </div>
  </div>
</section>