<section id="global-header" class="staff-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1 class="animate__animated animate__fadeIn">Our Staff</h1>
          <p class="animate__animated animate__fadeIn">Meet our talented team</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Portfolio Start -->
<section id="portfolio">
  <div class="container">
    <div class="col-md-12 text-center">
      <div class="work">
        <div class="row">
          <div class="col-md-4 portfolio-item staff">
            <!-- Steve Cox -->
            <a href="{{ '/staff/steve-cox' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/staff/steve-cox.jpg' | relative_url }}" alt="Steve Cox">
            </a>
            <a href="{{ '/staff/steve-cox' | relative_url }}">
              <h4>Steve Cox</h4>
            </a>
            <h6 class="card_description">Director</h6>
          </div>
          <!-- Paul McSweeny -->
          <!-- <div class="col-md-4 portfolio-item staff">
            <a href="{{ '/staff/paul-mcsweeny' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/staff/paul-mcsweeny.jpg' | relative_url }}" alt="Paul McSweeny">
            </a>
            <a href="{{ '/staff/paul-mcsweeny' | relative_url }}">
              <h4>Paul McSweeny</h4>
            </a>
            <h6 class="card_description">Former Director</h6>
          </div> -->
          <!-- Martin Hedley -->
          <div class="col-md-4 portfolio-item staff">
            <a href="{{ '/staff/martin-hedley' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/staff/martin-hedley.jpg' | relative_url }}" alt="Martin Hedley">
            </a>
            <a href="{{ '/staff/martin-hedley' | relative_url }}">
              <h4>Martin Hedley</h4>
            </a>
            <h6 class="card_description">Chief Engineer</h6>
          </div>
          <!-- Pauline de Graaf -->
          <div class="col-md-4 portfolio-item staff">
            <a href="{{ '/staff/pauline-de-graaf' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/staff/pauline-de-graaf.jpg' | relative_url }}" alt="Pauline de Graaf">
            </a>
            <a href="{{ '/staff/pauline-de-graaf' | relative_url }}">
              <h4>Pauline de Graaf</h4>
            </a>
            <h6 class="card_description">Office Administration</h6>
          </div>
          <!-- William Lowen -->
          <div class="col-md-4 portfolio-item staff">
            <a href="{{ '/staff/william-lowen' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/staff/william-lowen.jpg' | relative_url }}" alt="William Lowen">
            </a>
            <a href="{{ '/staff/william-lowen' | relative_url }}">
              <h4>William Lowen</h4>
            </a>
            <h6 class="card_description">Engineer</h6>
          </div>
          <!-- Craig Cunha -->
          <div class="col-md-4 portfolio-item staff">
            <a href="{{ '/staff/craig-cunha' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/staff/craig-cunha.jpg' | relative_url }}" alt="Craig Cunha">
            </a>
            <a href="{{ '/staff/craig-cunha' | relative_url }}">
              <h4>Craig Cunha</h4>
            </a>
            <h6 class="card_description">Engineer</h6>
          </div>
          <!-- Allen House -->
          <div class="col-md-4 portfolio-item staff">
            <a href="{{ '/staff/allen-house' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/staff/allen-house.jpg' | relative_url }}" alt="Allen House">
            </a>
            <a href="{{ '/staff/allen-house' | relative_url }}">
              <h4>Allen House</h4>
            </a>
            <h6 class="card_description">Engineer</h6>
          </div>
          <!-- Stephen Fox -->
          <div class="col-md-4 portfolio-item staff">
            <a href="{{ '/staff/stephen-fox' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/staff/stephen-fox.jpg' | relative_url }}" alt="Stephen Fox">
            </a>
            <a href="{{ '/staff/stephen-fox' | relative_url }}">
              <h4>Stephen Fox</h4>
            </a>
            <h6 class="card_description">Engineer</h6>
          </div>
          <!-- Jason Harris -->
          <div class="col-md-4 portfolio-item staff">
            <a href="{{ '/staff/jason-harris' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/staff/jason-harris.jpg' | relative_url }}" alt="Jason Harris">
            </a>
            <a href="{{ '/staff/jason-harris' | relative_url }}">
              <h4>Jason Harris</h4>
            </a>
            <h6 class="card_description">Painter</h6>
          </div>
          <!-- Les Wilson -->
          <div class="col-md-4 portfolio-item staff">
            <a href="{{ '/staff/les-wilson' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/staff/les-wilson.jpg' | relative_url }}" alt="Les Wilson">
            </a>
            <a href="{{ '/staff/les-wilson' | relative_url }}">
              <h4>Les Wilson</h4>
            </a>
            <h6 class="card_description">Engineer</h6>
          </div>
          <!-- Ken O'Halloran -->
          <div class="col-md-4 portfolio-item staff">
            <a href="{{ '/staff/ken-ohalloran' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/staff/ken-ohalloran.jpg' | relative_url }}" alt="Ken O'Halloran">
            </a>
            <a href="{{ '/staff/ken-ohalloran' | relative_url }}">
              <h4>Ken O'Halloran</h4>
            </a>
            <h6 class="card_description">Engineer (Avionics)</h6>
          </div>
          <!-- Rod Hansen -->
          <div class="col-md-4 portfolio-item staff">
            <a href="{{ '/staff/rod-hansen' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/staff/rod-hansen.jpg' | relative_url }}" alt="Rod Hansen">
            </a>
            <a href="{{ '/staff/rod-hansen' | relative_url }}">
              <h4>Rod Hansen</h4>
            </a>
            <h6 class="card_description">Engineer</h6>
          </div>
          <!-- Haydon Smith -->
          <div class="col-md-4 portfolio-item staff">
            <a href="{{ '/staff/haydon-smith' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/staff/haydon-smith.jpg' | relative_url }}" alt="Haydon Smith">
            </a>
            <a href="{{ '/staff/haydon-smith' | relative_url }}">
              <h4>Haydon Smith</h4>
            </a>
            <h6 class="card_description">Engineer</h6>
          </div>
          <!-- Jaydon Molloy -->
          <div class="col-md-4 portfolio-item staff">
            <a href="{{ '/staff/jaydon-molloy' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/staff/jaydon-molloy.jpg' | relative_url }}" alt="Jaydon Molloy">
            </a>
            <a href="{{ '/staff/jaydon-molloy' | relative_url }}">
              <h4>Jaydon Molloy</h4>
            </a>
            <h6 class="card_description">Engineer</h6>
          </div>
          <!-- Mike Tunnicliffe -->
          <div class="col-md-4 portfolio-item staff">
            <a href="{{ '/staff/mike-tunnicliffe' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/staff/mike-tunnicliffe.jpg' | relative_url }}" alt="Mike Tunnicliffe">
            </a>
            <a href="{{ '/staff/mike-tunnicliffe' | relative_url }}">
              <h4>Mike Tunnicliffe</h4>
            </a>
            <h6 class="card_description">Engineer</h6>
          </div>
          <!-- Mark Lamborn -->
          <div class="col-md-4 portfolio-item staff">
            <a href="{{ '/staff/mark-lamborn' | relative_url }}">
              <img class="img-fluid" src="{{ '/assets/img/staff/mark-lamborn.jpg' | relative_url }}" alt="Mark Lamborn">
            </a>
            <a href="{{ '/staff/mark-lamborn' | relative_url }}">
              <h4>Mark Lamborn</h4>
            </a>
            <h6 class="card_description">Engineer</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We design delightful digital experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="/contact/">Get in Touch</a>
        </div>
      </div>
    </div>
  </div>
</section>